@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
$main-blue-color:#8ECAE6;
$main-dark-blue-color:#023047;
$main-orange-color:#FB8500;
$main-white-color:#ffffff; 
$main-font-family-montserrat: 'Montserrat', sans-serif;
$font-family-logo-kaushan-script: 'Kaushan Script', cursive;